mixin nav
    nav
        ul
            li
                a(href='/')
                    | Home
            li
                a(href='/items')
                    | Items
            if user
                li
                    a(href="/profile")
                        =user.username
                li
                    a(href="/auth/sign-out")
                        | Sign out
            else
                li
                    a(href='/auth/sign-up')
                        | Sign up
                li
                    a(href='/auth/sign-in')
                        | Sign in